@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@theme inline {
  --font-sans: var(--font-jakarta);
  --font-mono: var(--font-firacode);
}

@layer base {
  * {
    scrollbar-width: auto;
    scrollbar-color: rgba(49, 50, 68, 0.53) transparent;
  }

  *::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(49, 50, 68, 0.53);
    border-radius: 0;
    border: none;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgba(108, 112, 134, 0.53);
  }

  *::-webkit-scrollbar-thumb:active {
    background: rgba(108, 112, 134, 0.75);
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .tabbar-scrollbar::-webkit-scrollbar {
    height: 2px;
  }

  .tabbar-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .tabbar-scrollbar:hover::-webkit-scrollbar-thumb {
    background: rgba(108, 112, 134, 0.53);
  }

  .tabbar-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .tabbar-scrollbar:hover {
    scrollbar-color: rgba(108, 112, 134, 0.53) transparent;
  }
}
